//
//  Dusk.xcconfig
//  Dusk
//
//  Created by Matt Massicotte on 2019-06-02.
//  Copyright © 2019 Chime Systems. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

MACOSX_DEPLOYMENT_TARGET = 10.10

CURRENT_PROJECT_VERSION = 3
MARKETING_VERSION = 1.1.0

MACH_O_TYPE = staticlib
